<div class="top_navbar">
    <p-button type="text" (click)="display = true" icon="pi pi-plus" label="Show" position="left"></p-button>
    
</div>

<br />


    
<ng-container *ngIf="loaded else loading">

    <p-sidebar [(visible)]="display">
        <div *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active">
            <p-button>
                
                {{link.title}}
                
            </p-button>
            
            
        </div>
    </p-sidebar>

    
    <div class="app-content">
        <router-outlet></router-outlet>
        </div>
    



</ng-container>
<ng-template #loading>
    <p-progressSpinner [style]="{width: '250px', height: '250px', display: 'grid'}" class="custom_spinner"></p-progressSpinner>
</ng-template>

<marilias-page-dock></marilias-page-dock>

