
<div class="top_navbar">
    <p-button type="text" (click)="display = true" icon="pi pi-plus" label="Show" position="left"></p-button>
    
</div>

<br />

<div class="home_container">
    
<ng-container *ngIf="loaded else loading">

    <p-sidebar [(visible)]="display">
        <div *ngFor="let link of links">
            <p-button>
                
                {{link.title}}
                
            </p-button>
            
            
        </div>
    </p-sidebar>

    
    
    

    <h1>Welcome to {{title}}</h1>
    <br />
    <div class="welcome_container">
    <p-card header="Who am I?" [style]="{'width': '25rem', 'margin-bottom': '2em'}">Blah blah blah blah blah.....</p-card>
    <p-card header="What is this Page for?" [style]="{'width': '25rem', 'margin-bottom': '2em'}">Blah blah blah blah blah.....</p-card>
    <p-card header="How to Contact Me" [style]="{'width': '25rem', 'margin-bottom': '2em'}">Blah blah blah blah blah.....</p-card>
</div>

</ng-container>
<ng-template #loading>
    <p-progressSpinner [style]="{width: '250px', height: '250px', display: 'grid'}" class="custom_spinner"></p-progressSpinner>
</ng-template>
</div>
<marilias-page-dock></marilias-page-dock>
<marilias-page-map></marilias-page-map>