

// .welcome_container {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 50px;
// }

.app-content {
    height: 100%;
};

.header {
    display: grid;
    text-align: center;
};




