
<div class="home_container">
    

    
        
<div class="home_cards">
        <h1>Welcome to {{title}}</h1>
        <br />
        <div class="welcome_container">
        <p-card header="Who am I?" [style]="{'width': '25rem', 'margin-bottom': '2em'}">Blah blah blah blah blah.....</p-card>
        <p-card header="What is this Page for?" [style]="{'width': '25rem', 'margin-bottom': '2em'}">Blah blah blah blah blah.....</p-card>
        <p-card header="How to Contact Me" [style]="{'width': '25rem', 'margin-bottom': '2em'}">Blah blah blah blah blah.....</p-card>
    </div></div>
    

    </div>
    <div>

    
<marilias-page-dock></marilias-page-dock>
<marilias-page-map></marilias-page-map>
</div>

